<%= render partial: 'admins_backoffice/cadastros/shared/imprime_cadastro' %>

<hr>

<%= button_tag "Retornar", type: "button", class: "btn btn-secondary", onclick: "window.history.back();" %>

<button class="btn btn-secondary" type="button" id="custom_submit_button" onclick="window.location.href='<%= admins_backoffice_path(@cadastro.id, format: :pdf, b_assinar: false) %>';">
    <i class="fas fa-file-pdf fa-sm"></i> Gerar PDF
</button>

<button class="btn btn-secondary" type="button" id="custom_submit_button" onclick="window.location.href='<%= admins_backoffice_path(@cadastro.id, format: :pdf, b_assinar: true) %>';">
    <i class="fas fa-file-pdf fa-sm"></i> Gerar PDF assinado
</button>



