// Place all the styles related to the AdminsBackoffice::Relatorios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.select-width-150 {
  width: 150px;
}
.select-width-170 {
  width: 170px;
}
.select-width-200 {
  width: 200px;
}
.checkbox-container {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}
.red-label {
  color: red;
}
.orange-label {
  color: DarkOrange;
}



