/* 
 *= require bootstrap/dist/css/bootstrap.min 
 */


/* Aplicação de fontes mais comuns para poder renderizar de html para pdf */
body {
    font-family: sans-serif, Arial, Helvetica;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif, Arial, Helvetica;
}



/* Tabela */

tr{
    border-bottom: solid;
    border-width: 1px;
}
td,th{
    text-align: left;
}

th{
    background-color: #000;
    color: white;
}

table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}
