/* Aplicação de fontes mais comuns para poder renderizar de html para pdf */
body {
    font-family: sans-serif, Arial, Helvetica;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif, Arial, Helvetica;
    page-break-inside: avoid; /* Evita quebra de página dentro de tabelas */
}

table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}
