<% if user_signed_in? %>
  <%= render partial: 'site/shared/vasos' %>
<% else %>
  <br>
  <br>
  <br>
  <br>
  <div class="alert alert-info">
    Para ter <strong>acesso ao sistema</strong> na forma básica, <i>entre</i> ou <i>cadastre-se</i> no sistema através do menu acima.
  </div>  
<% end %>