<% if user_signed_in? %>
  <%= render partial: 'site/shared/vasos' %>
<% else %>
  <br>
  <br>
  <br>
  <br>
  <div class="alert alert-info">
    <h1>CONTATO </h1> <br>
    <h2>
    Este é um sistema de inspeção de segurança em vasos de pressão. <br>
    Nossa empresa faz inspeções de segurança de acordo com a NR13 em compressores de ar e caldeiras.<br>
    Para ter acesso aos serviços você pode entrar em contato pelo email: mantinsp@gmail.com <br>
    Ou pelo WhatsApp: 45 98807-2020. <br> <br>
    Atendemos as regiões até 300 km distantes de Cascavel no Paraná. <br>
    Se você é de outra região, entre em contato para ver a possibilidade da realização dos serviços. <br>
    </h2>
  </div>  
<% end %>