<p>Olá <%= @resource.email %>!</p>

<p>Se você é usuário do MANTINSP e requisitou um link para mudar sua senha, pode fazer isto através do link abaixo.</p>

<p><%= link_to 'Mude minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isto, por favor ignore este e-mail.</p>
<p>Sua senha não será modificada, a menos que você acesse o link acima e crie uma nova.</p>
